
@font-face {
    font-family: 'OkMallangW';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2603-1@1.0/OkMallangW-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
  font-family: 'OkMallangW', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: #d9d9d9;
  color: #333;
  border: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 12px;
}

input, textarea {
  border: 1px solid #d9d9d9;
  outline: none;
  padding: 8px;
  border-radius: 6px;
  width: 100%;
}

#page {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 24px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 40px;
    flex-shrink: 0;
    gap: 15px;
}

#writeBtn {
  border-radius: 12px;
  border: dotted 2px rgba(181, 181, 181, 0.655);
  padding: 10px 20px;
}

#guestbookForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);  
  justify-content: center;
  align-items: center;
  
}

#writeGuestBook {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);  
}

#submitBtn {
  padding: 10px 20px;
  width: 100%;
  border-radius: 8px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  width: 280px;
  min-height: 120px;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  justify-content: space-between;
}


#deleteModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#deleteBox {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.deleteButtons {
  display: flex;
  gap: 10px;
}
